 <!-- Start PReloader -->
 <div id="page-preloader" class="page-loading clearfix">
    <div class="page-load-inner">
        <div class="preloader-wrap">
            <div class="wrap-2">
                <div><img src="/client/img/icons/brook-preloader.gif" alt="Brook Preloader"></div>
            </div>
        </div>
    </div>
</div>
<!-- End PReloader -->