<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/admin/plugins/fastclick/fastclick.js"></script>
<!-- Js Files -->
<script src="/client/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/client/js/vendor/jquery.min.js"></script>
<script src="/client/js/popper.min.js"></script>
<script src="/client/js/bootstrap.min.js"></script>
<script src="/client/js/plugins.js"></script>
<script src="/client/js/main.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="/client/js/jquery.themepunch.tools.min.js"></script>
<script src="/client/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="/client/js/revolution.extension.actions.min.js"></script>
<script src="/client/js/revolution.extension.carousel.min.js"></script>
<script src="/client/js/revolution.extension.kenburn.min.js"></script>
<script src="/client/js/revolution.extension.layeranimation.min.js"></script>
<script src="/client/js/revolution.extension.migration.min.js"></script>
<script src="/client/js/revolution.extension.navigation.min.js"></script>
<script src="/client/js/revolution.extension.parallax.min.js"></script>
<script src="/client/js/revolution.extension.slideanims.min.js"></script>
<script src="/client/js/revolution.extension.video.min.js"></script>
<script src="/client/js/revoulation.js"></script>
<!-- AdminLTE App -->
<script src="/admin/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/admin/js/demo.js"></script>