<% layout('../../layouts/client/app_client') -%>


<!-- Header -->
<header class="br_header header-default position-from--top header-transparent black-logo--version haeder-fixed-width haeder-fixed-150 headroom--sticky header-mega-menu clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header__wrapper mr--0">
                    <!-- Header Left -->
                    <div class="header-left">
                        <div class="logo">
                            <a href="index.html">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDw2tMnJK4qQ6YbpzSdLkXs2oBKlSlS--yxcxlj8lLUmPP1H4e" alt="Brook Images">
                            </a>
                        </div>
                    </div>
                    <!-- Mainmenu Wrap -->
                    <div class="mainmenu-wrapper d-none d-lg-block">
                        <nav class="page_nav">
                            <ul class="mainmenu">

                                <li class="lavel-1 with--drop slide--megamenu"><a href="#"><span>Home</span></a>
                                    <!-- Start Mega Menu -->
                                    <div class="mega__width--fullscreen">
                                        <div class="container">
                                            <div class="row">

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">MULTI-AREA HOMEPAGES</li>
                                                        <li><a href="index-business.html"><span>Business</span></a></li>
                                                        <li><a href="index-creative-agency.html"><span>Creative
                                                                    Agency</span></a></li>
                                                        <li><a href="index-digital-agency.html"><span>Digital
                                                                    Agency</span></a></li>
                                                        <li><a href="index-design-studio.html"><span>Design
                                                                    Studio</span></a></li>
                                                        <li><a href="index-architecture.html"><span>Architecture</span></a></li>
                                                        <li><a href="index-start-ups.html"><span>Start ups</span></a></li>
                                                        <li><a href="index-minimal-agency.html"><span>Minimal
                                                                    Agency</span></a></li>
                                                        <li><a href="index-freelancer.html"><span>Freelancer</span></a></li>
                                                        <li><a href="index-authentic-studio.html"><span>Authentic
                                                                    Studio</span></a></li>
                                                        <li><a href="index-revolutionary.html"><span>Revolutionary</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">PORTFOLIO HOMEPAGES</li>
                                                        <li><a href="index-creative-portfolio.html"><span>Creative
                                                                    Portfolio</span></a></li>
                                                        <li><a href="index-minimal-portfolio.html"><span>Minimal
                                                                    Portfolio</span></a></li>
                                                        <li><a href="index-vertical-slider-portfolio.html"><span>Vertical
                                                                    Slide Portfolio</span></a></li>
                                                        <li><a href="index-vertical-slide-gradient-portfolio.html"><span>Vertical
                                                                    Slide Gradient Portfolio</span></a></li>
                                                        <li><a href="index-portfolio-fullscreen-slider-left-vertical-header.html"><span>Portfolio
                                                                    Fullscreen
                                                                    Slider</span></a></li>
                                                        <li><a href="index-masonry-gallery.html"><span>Portfolio
                                                                    Masonry</span></a></li>
                                                        <li><a href="index-portfolio-fullscreen-type-hover.html"><span>Portfolio
                                                                    Fullscreen Type Hover</span></a></li>
                                                        <li><a href="index-portfolio-fullscreen-type-hover-02.html"><span>Portfolio
                                                                    Fullscreen Type Hover
                                                                    02</span></a></li>
                                                        <li><a href="index-digital-broadsheets.html"><span>Digital
                                                                    Broadsheets</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">CREATIVE HOMEPAGES</li>
                                                        <li><a href="index-onepage.html"><span>Onepage</span></a></li>
                                                        <li><a href="index-landing.html"><span>Landing</span></a></li>
                                                        <li><a href="index-presentation.html"><span>Presentation</span></a></li>
                                                        <li><a href="index-product-landing.html"><span>Product
                                                                    Landing</span></a></li>
                                                        <li><a href="index-home-service.html"><span>Service</span></a></li>
                                                        <li><a href="index-shop.html"><span>Shop</span></a></li>
                                                        <li><a href="index-indie-musician.html"><span>Indie
                                                                    Musician</span></a></li>
                                                        <li><a href="index-news-bulletin.html"><span>News
                                                                    Bulletin</span></a></li>
                                                        <li><a href="index-expert.html"><span>Expert</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">BLOG & GALLERY</li>
                                                        <li><a href="index-vertical-menu.html"><span>Vertical
                                                                    Menu</span></a></li>
                                                        <li><a href="index-photo-slider-gallery.html"><span>Photo
                                                                    Slider Gallery</span></a></li>
                                                        <li><a href="index-masonry-gallery.html"><span>Masonry
                                                                    Gallery</span></a></li>
                                                        <li><a href="index-minimal-metro-grid.html"><span>Minimal
                                                                    Metro Grid</span></a></li>
                                                        <li><a href="index-portfolio-slide.html"><span>Portfolio
                                                                    Slide</span></a></li>
                                                        <li><a href="index-blog-metro.html"><span>Metro Blog</span></a></li>
                                                        <li><a href="index-blog-grid.html"><span>Grid Blog</span></a></li>
                                                        <li><a href="index-foodie.html"><span>Foodie</span></a></li>
                                                        <li><a href="index-expert.html"><span>Expert</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu -->
                                </li>

                                <li class="lavel-1 with--drop slide--megamenu"><a href="#"><span>Pages</span></a>
                                    <!-- Start Mega Menu -->
                                    <div class="mega__width--fullscreen">
                                        <div class="container">
                                            <div class="row">

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Sample Pages</li>
                                                        <li><a href="about-us-01.html"><span>About Us 01</span></a></li>
                                                        <li><a href="about-us-02.html"><span>About Us 02</span></a></li>
                                                        <li><a href="about-us-03.html"><span>About Us 03</span></a></li>
                                                        <li><a href="about-us-04.html"><span>About Us 04</span></a></li>
                                                        <li><a href="about-us-05.html"><span>About Us 05</span></a></li>
                                                        <li><a href="contact-us-classic.html"><span>Contact Us
                                                                    Classic</span></a></li>
                                                        <li><a href="contact-us-modern.html"><span>Contact Us
                                                                    Modern</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Sample Pages</li>
                                                        <li><a href="contact-us-with-map.html"><span>Contact Us
                                                                    With Map</span></a></li>
                                                        <li><a href="services-classic.html"><span>Services
                                                                    Classic</span></a></li>
                                                        <li><a href="services-modern.html"><span>Services
                                                                    Modern</span></a></li>
                                                        <li><a href="services-list.html"><span>Services List</span></a></li>
                                                        <li><a href="pricing-plans.html"><span>Pricing plans</span></a></li>
                                                        <li><a href="pricing-plans-02.html"><span>Pricing plans
                                                                    02</span></a></li>
                                                        <li><a href="career.html"><span>Career</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Sample Pages</li>
                                                        <li><a href="team-grid.html"><span>Our Team Grid</span></a></li>
                                                        <li><a href="team-carousel-01.html"><span>Our Team
                                                                    Carousel 01</span></a></li>
                                                        <li><a href="team-carousel-02.html"><span>Our Team
                                                                    Carousel 02</span></a></li>
                                                        <li><a href="maintenance.html"><span>Maintenance</span></a></li>
                                                        <li><a href="coming-soon.html"><span>Coming Soon</span></a></li>
                                                        <li><a href="404.html"><span>404 Page</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <div class="mega-thumb">
                                                        <div class="thumb">
                                                            <img src="/client/img/others/mega-menu-image-01.jpg" alt="banner images">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single List -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu -->
                                </li>

                                <li class="lavel-1 with--drop slide-dropdown"><a href="#"><span>Shop</span></a>

                                    <!-- Start Dropdown Menu -->
                                    <ul class="dropdown__menu">
                                        <li><a href="shop-minimal.html"><span>Shop Minimal</span></a></li>
                                        <li><a href="shop-fullwide.html"><span>Shop Fullwide</span></a></li>
                                        <li><a href="cart.html"><span>Cart</span></a></li>
                                        <li><a href="compare.html"><span>Compare</span></a></li>
                                        <li><a href="my-account.html"><span>My Account</span></a></li>
                                        <li><a href="login-register.html"><span>Login / Register</span></a></li>
                                        <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                                        <li><a href="checkout.html"><span>Checkout</span></a></li>
                                        <li class="drop-lavel--2"><a href="#"><span>Single Product</span></a>
                                            <ul class="lavel--2">
                                                <li><a href="single-product.html"><span>Layout 01</span></a></li>
                                                <li><a href="single-product2.html"><span>Layout 02</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- End Dropdown Menu -->
                                </li>

                                <li class="lavel-1 with--drop slide--megamenu"><a href="#"><span>Portfolio</span></a>

                                    <!-- Start Mega Menu -->
                                    <div class="mega__width--fullscreen">
                                        <div class="container">
                                            <div class="row">
                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Portfolio Samples 01</li>
                                                        <li><a href="portfolio-grid-boxed.html"><span>Portfolio
                                                                    Grid – Boxed</span></a></li>
                                                        <li><a href="portfolio-grid-wide.html"><span>Portfolio
                                                                    Grid – Wide</span></a></li>
                                                        <li><a href="portfolio-details-image-with-caption.html"><span>Portfolio
                                                                    With Caption</span></a></li>
                                                        <li><a href="portfolio-with-caption-video.html"><span>Portfolio
                                                                    With Caption – Video Popup</span></a></li>
                                                        <li><a href="portfolio-grid-metro-01.html"><span>Portfolio
                                                                    Grid Metro 01</span></a></li>
                                                        <li><a href="portfolio-grid-metro-02.html"><span>Portfolio
                                                                    Grid Metro 02</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Portfolio Samples 02</li>
                                                        <li><a href="portfolio-grid-metro-03.html"><span>Portfolio
                                                                    Grid Metro 03</span></a></li>
                                                        <li><a href="portfolio-grid-boxed.html"><span>Portfolio
                                                                    Grid Masonry – Boxed</span></a></li>
                                                        <li><a href="porfolio-grid-masonry-nogap.html"><span>Portfolio
                                                                    Grid Masonry – No Gap</span></a></li>
                                                        <li><a href="portfolio-ajax-filter.html"><span>Portfolio
                                                                    Ajax Filter</span></a></li>
                                                        <li><a href="portfolio-static-filter.html"><span>Portfolio
                                                                    Static Filter</span></a></li>
                                                        <li><a href="portfolio-overlay.html"><span>Portfolio
                                                                    Overlay</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Portfolio Single 01</li>
                                                        <li><a href="portfolio-details.html"><span>Left Details</span></a></li>
                                                        <li><a href="portfolio-details-right.html"><span>Right
                                                                    Details</span></a></li>
                                                        <li><a href="portfolio-details-left-wide.html"><span>Left
                                                                    Details – Wide</span></a></li>
                                                        <li><a href="portfolio-details-right-wide.html"><span>Right
                                                                    Details – Wide</span></a></li>
                                                        <li><a href="portfolio-details-image-with-caption.html"><span>Image
                                                                    With Caption</span></a></li>
                                                        <li><a href="portfolio-details-custom-layout-01.html"><span>Custom
                                                                    Layout 01</span></a></li>
                                                        <li><a href="portfolio-details-custom-layout-02.html"><span>Custom
                                                                    Layout 02</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Portfolio Single 02</li>
                                                        <li><a href="portfolio-details-custom-layout-03.html"><span>Custom
                                                                    Layout 03</span></a></li>
                                                        <li><a href="portfolio-details-custom-layout-04.html"><span>Custom
                                                                    Layout 04</span></a></li>
                                                        <li><a href="portfolio-details-custom-layout-05.html"><span>Custom
                                                                    Layout 05</span></a></li>
                                                        <li><a href="portfolio-details-custom-layout-06.html"><span>Custom
                                                                    Layout 06</span></a></li>
                                                        <li><a href="portfolio-details-custom-layout-07.html"><span>Custom
                                                                    Layout 07</span></a></li>
                                                        <li><a href="portfolio-details-custom-layout-08.html"><span>Custom
                                                                    Layout 08</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu -->
                                </li>

                                <li class="lavel-1 with--drop slide--megamenu"><a href="#"><span>Elements</span></a>
                                    <!-- Start Mega Menu -->
                                    <div class="mega__width--fullscreen">
                                        <div class="container">
                                            <div class="row">
                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Element Group 01</li>
                                                        <li><a href="brand.html"><span>Client Logos</span></a></li>
                                                        <li><a href="flexible-image-slider.html"><span>Flexible
                                                                    image slider</span></a></li>
                                                        <li><a href="carousel-slider.html"><span>Carousel
                                                                    Sliders</span></a></li>
                                                        <li><a href="team.html"><span>Team Member</span></a></li>
                                                        <li><a href="pricing-box.html"><span>Pricing Boxes</span></a></li>
                                                        <li><a href="call-to-action-banner.html"><span>Call to
                                                                    action banners</span></a></li>
                                                        <li><a href="instagram.html"><span>Instagram</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Element Group 02</li>
                                                        <li><a href="countdown-clocks.html"><span>Countdown
                                                                    clocks</span></a></li>
                                                        <li><a href="counters.html"><span>Counters</span></a></li>
                                                        <li><a href="progress-charts.html"><span>Progress
                                                                    Charts</span></a></li>
                                                        <li><a href="icon-boxes.html"><span>Icon Boxes</span></a></li>
                                                        <li><a href="testimonial.html"><span>Testimonials</span></a></li>
                                                        <li><a href="dividers.html"><span>Dividers</span></a></li>
                                                        <li><a href="tabs.html"><span>Tabs</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Element Group 03</li>
                                                        <li><a href="contact.html"><span>Contact &amp;
                                                                    subscribe forms</span></a></li>
                                                        <li><a href="google-map.html"><span>Google Map</span></a></li>
                                                        <li><a href="social-network.html"><span>Social Networks</span></a></li>
                                                        <li><a href="gallery.html"><span>Gallery</span></a></li>
                                                        <li><a href="popup-video.html"><span>Popup video</span></a></li>
                                                        <li><a href="gradation.html"><span>Gradation</span></a></li>
                                                        <li><a href="rows-and-columns.html"><span>Rows &amp;
                                                                    Columns</span></a></li>

                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Element Group 04</li>
                                                        <li><a href="message-box.html"><span>Message box</span></a></li>
                                                        <li><a href="accordion.html"><span>Accordions &amp;
                                                                    Toggles</span></a></li>
                                                        <li><a href="buttons.html"><span>Buttons</span></a></li>
                                                        <li><a href="typography.html"><span>Typography</span></a></li>
                                                        <li><a href="typed-text.html"><span>Typed Text</span></a></li>
                                                        <li><a href="lists.html"><span>Lists</span></a></li>
                                                        <li><a href="pricing-table.html"><span>Pricing Table</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu -->
                                </li>

                                <li class="lavel-1 with--drop slide--megamenu"><a href="#"><span>BLog</span></a>

                                    <!-- Start Mega Menu -->
                                    <div class="mega__width--fullscreen">
                                        <div class="container">
                                            <div class="row">
                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Blog Sample 01</li>
                                                        <li><a href="blog-creative.html"><span>Creative List</span></a></li>
                                                        <li><a href="blog-standard-list.html"><span>Standard
                                                                    List</span></a></li>
                                                        <li><a href="blog-grid-classic.html"><span>Grid Classic</span></a></li>
                                                        <li><a href="blog-grid-classic-sidebar.html"><span>Grid
                                                                    Classic With Sidebar</span></a></li>
                                                        <li><a href="blog-grid-mesonry.html"><span>Grid Masonry</span></a></li>
                                                        <li><a href="blog-grid-metro.html"><span>Grid Metro</span></a></li>
                                                        <li><a href="blog-grid-minimal.html"><span>Grid Minimal</span></a></li>
                                                        <li><a href="blog-grid-minimal-outline.html"><span>Grid
                                                                    Minimal Outline</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Blog Sample 02</li>
                                                        <li><a href="blog-grid-standard.html"><span>Grid
                                                                    Standard</span></a></li>
                                                        <li><a href="blog-grid-simple.html"><span>Grid Simple</span></a></li>
                                                        <li><a href="blog-grid-sticky.html"><span>Grid Sticky</span></a></li>
                                                        <li><a href="blog-grid-modern.html"><span>Grid Modern</span></a></li>
                                                        <li><a href="blog-overlay-image-list.html"><span>Overlay
                                                                    Image List</span></a></li>
                                                        <li><a href="blog-lazy-load.html"><span>Lazy Load</span></a></li>
                                                        <li><a href="blog-load-more-button.html"><span>Load
                                                                    More Button</span></a></li>
                                                        <li><a href="blog-numeric-pagination.html"><span>Numeric
                                                                    Pagination</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Single Blog</li>
                                                        <li><a href="blog-details.html"><span>Standard Post</span></a></li>
                                                        <li><a href="blog-details-gallery.html"><span>Gallery
                                                                    Post</span></a></li>
                                                        <li><a href="blog-details-video.html"><span>Video Post</span></a></li>
                                                        <li><a href="blog-details-audio.html"><span>Audio Post</span></a></li>
                                                        <li><a href="blog-details-quote.html"><span>Quote Post</span></a></li>
                                                        <li><a href="blog-details-left-sidebar.html"><span>Standard
                                                                    Post – Left Sidebar</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->

                                                <!-- Start Single List -->
                                                <div class="col-lg-3">
                                                    <ul class="mega__list">
                                                        <li class="mega--title">Single Blog Modern</li>
                                                        <li><a href="blog-details-modern-layout.html"><span>Standard
                                                                    Post – Modern Layout</span></a></li>
                                                        <li><a href="blog-details-modern-layout-gallery.html"><span>Gallery
                                                                    Post – Modern Layout</span></a></li>
                                                        <li><a href="blog-details-modern-layout-video.html"><span>Video
                                                                    Post – Modern Layout</span></a></li>
                                                        <li><a href="blog-details-modern-layout-audio.html"><span>Audio
                                                                    Post – Modern Layout</span></a></li>
                                                        <li><a href="blog-details-modern-layout-quote.html"><span>Quote
                                                                    Post – Modern Layout</span></a></li>
                                                        <li><a href="blog-details-no-sidebar.html"><span>Standard
                                                                    Post – No Sidebar</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Single List -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu -->
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <!-- Start Minicart -->
                        <div class="mini-cart">
                            <div id="minicart-trigger" class="minicart-trigger mini-cart-button" data-count="3">
                                <button><i class="fas fa-shopping-bag"></i></button>
                            </div>
                            <div class="shopping-cart cart-box">
                                <div class="shop-inner">
                                    <div class="header">
                                        <ul class="product-list">

                                            <!-- Start Single Product -->
                                            <li>
                                                <div class="thumb">
                                                    <a href="single-product.html">
                                                        <img src="/client/img/product/sm-image/sm-cat1-01.jpg" alt="Multipurpose template">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="inner">
                                                        <h4><a href="single-product.html">Bottle with Leather
                                                                Grip</a></h4>
                                                        <div class="quatity">
                                                            <span>1 ×</span>
                                                            <span>39.00</span>
                                                        </div>
                                                    </div>
                                                    <button class="delete-btn"><i class="fas fa-times"></i></button>
                                                </div>
                                            </li>

                                            <!-- Start Single Product -->
                                            <li>
                                                <div class="thumb">
                                                    <a href="single-product.html">
                                                        <img src="/client/img/product/sm-image/sm-cat1-02.jpg" alt="Multipurpose template">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="inner">
                                                        <h4><a href="single-product.html">Crystal Glass Globe
                                                                Desk Lamp</a></h4>
                                                        <div class="quatity">
                                                            <span>1 ×</span>
                                                            <span>39.00</span>
                                                        </div>
                                                    </div>
                                                    <button class="delete-btn"><i class="fas fa-times"></i></button>
                                                </div>
                                            </li>

                                            <!-- Start Single Product -->
                                            <li>
                                                <div class="thumb">
                                                    <a href="single-product.html">
                                                        <img src="/client/img/product/sm-image/sm-cat1-03.jpg" alt="Multipurpose template">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="inner">
                                                        <h4><a href="single-product.html">Gold Plated Desk
                                                                Lantern Lamp</a></h4>
                                                        <div class="quatity">
                                                            <span>1 ×</span>
                                                            <span>39.00</span>
                                                        </div>
                                                    </div>
                                                    <button class="delete-btn brook-transition"><i class="fas fa-times"></i></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div class="total">Total: <span>225.00</span></div>
                                        <a class="cart-btn brook-transition" href="checkout.html">Check out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Minicart -->
                        <!-- Start Popup Search Wrap -->
                        <div class="popup-search-wrap">
                            <a class="btn-search-click" href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <!-- End Popup Search Wrap -->
                        <!-- Start Hamberger -->
                        <div class="manu-hamber popup-mobile-click d-block d-lg-none black-version d-block d-xl-none pl_md--10 pl_sm--10">
                            <div>
                                <i></i>
                            </div>
                        </div>
                        <!-- End Hamberger -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<!--// Header -->


<!-- Start Popup Menu -->
<div class="popup-mobile-manu popup-mobile-visiable">
    <div class="inner">
        <div class="mobileheader">
            <div class="logo">
                <a href="index.html">
                    <img src="/client/img/logo/brook-black.png" alt="Multipurpose">
                </a>
            </div>
            <a class="mobile-close" href="#"></a>
        </div>
        <div class="menu-content">
            <ul class="menulist object-custom-menu">
                <li class="has-mega-menu"><a href="#"><span>Home</span></a>
                    <ul class="object-submenu">
                        <li class="title">MULTI-AREA HOMEPAGES</li>
                        <li><a href="index-business.html"><span>Business</span></a></li>
                        <li><a href="index-creative-agency.html"><span>Creative Agency</span></a></li>
                        <li><a href="index-digital-agency.html"><span>Digital Agency</span></a></li>
                        <li><a href="index-design-studio.html"><span>Design Studio</span></a></li>
                        <li><a href="index-architecture.html"><span>Architecture</span></a></li>
                        <li><a href="index-start-ups.html"><span>Start ups</span></a></li>
                        <li><a href="index-minimal-agency.html"><span>Minimal Agency</span></a></li>
                        <li><a href="index-freelancer.html"><span>Freelancer</span></a></li>
                        <li><a href="index-authentic-studio.html"><span>Authentic Studio</span></a></li>
                        <li><a href="index-revolutionary.html"><span>Revolutionary</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">PORTFOLIO HOMEPAGES</li>
                        <li><a href="index-creative-portfolio.html"><span>Creative Portfolio</span></a></li>
                        <li><a href="index-minimal-portfolio.html"><span>Minimal Portfolio</span></a></li>
                        <li><a href="index-vertical-slider-portfolio.html"><span>Vertical Slide Portfolio</span></a></li>
                        <li><a href="index-vertical-slide-gradient-portfolio.html"><span>Vertical Slide
                                    Gradient Portfolio</span></a></li>
                        <li><a href="index-portfolio-fullscreen-slider-left-vertical-header.html"><span>Portfolio
                                    Fullscreen
                                    Slider</span></a></li>
                        <li><a href="index-masonry-gallery.html"><span>Portfolio Masonry</span></a></li>
                        <li><a href="index-portfolio-fullscreen-type-hover.html"><span>Portfolio Fullscreen
                                    Type Hover</span></a></li>
                        <li><a href="index-portfolio-fullscreen-type-hover-02.html"><span>Portfolio
                                    Fullscreen Type Hover
                                    02</span></a></li>
                        <li><a href="index-digital-broadsheets.html"><span>Digital Broadsheets</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">CREATIVE HOMEPAGES</li>
                        <li><a href="index-onepage.html"><span>Onepage</span></a></li>
                        <li><a href="index-landing.html"><span>Landing</span></a></li>
                        <li><a href="index-presentation.html"><span>Presentation</span></a></li>
                        <li><a href="index-product-landing.html"><span>Product Landing</span></a></li>
                        <li><a href="index-home-service.html"><span>Service</span></a></li>
                        <li><a href="index-shop.html"><span>Shop</span></a></li>
                        <li><a href="index-indie-musician.html"><span>Indie Musician</span></a></li>
                        <li><a href="index-news-bulletin.html"><span>News Bulletin</span></a></li>
                        <li><a href="index-expert.html"><span>Expert</span></a></li>
                    </ul>

                    <ul class="object-submenu">
                        <li class="title">BLOG & GALLERY</li>
                        <li><a href="index-vertical-menu.html"><span>Vertical Menu</span></a></li>
                        <li><a href="index-photo-slider-gallery.html"><span>Photo Slider Gallery</span></a></li>
                        <li><a href="index-masonry-gallery.html"><span>Masonry Gallery</span></a></li>
                        <li><a href="index-minimal-metro-grid.html"><span>Minimal Metro Grid</span></a></li>
                        <li><a href="index-portfolio-slide.html"><span>Portfolio Slide</span></a></li>
                        <li><a href="index-blog-metro.html"><span>Metro Blog</span></a></li>
                        <li><a href="index-blog-grid.html"><span>Grid Blog</span></a></li>
                        <li><a href="index-foodie.html"><span>Foodie</span></a></li>
                        <li><a href="index-expert.html"><span>Expert</span></a></li>
                    </ul>
                </li>

                <li class="has-mega-menu"><a href="#"><span>Pages</span></a>
                    <ul class="object-submenu">
                        <li class="title">Sample Pages</li>
                        <li><a href="about-us-01.html"><span>About Us 01</span></a></li>
                        <li><a href="about-us-02.html"><span>About Us 02</span></a></li>
                        <li><a href="about-us-03.html"><span>About Us 03</span></a></li>
                        <li><a href="about-us-04.html"><span>About Us 04</span></a></li>
                        <li><a href="about-us-05.html"><span>About Us 05</span></a></li>
                        <li><a href="contact-us-classic.html"><span>Contact Us Classic</span></a></li>
                        <li><a href="contact-us-modern.html"><span>Contact Us Modern</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Sample Pages</li>
                        <li><a href="contact-us-with-map.html"><span>Contact Us With Map</span></a></li>
                        <li><a href="services-classic.html"><span>Services Classic</span></a></li>
                        <li><a href="services-modern.html"><span>Services Modern</span></a></li>
                        <li><a href="services-list.html"><span>Services List</span></a></li>
                        <li><a href="pricing-plans.html"><span>Pricing plans</span></a></li>
                        <li><a href="pricing-plans-02.html"><span>Pricing plans 02</span></a></li>
                        <li><a href="career.html"><span>Career</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Sample Pages</li>
                        <li><a href="team-grid.html"><span>Our Team Grid</span></a></li>
                        <li><a href="team-carousel-01.html"><span>Our Team Carousel 01</span></a></li>
                        <li><a href="team-carousel-02.html"><span>Our Team Carousel 02</span></a></li>
                        <li><a href="maintenance.html"><span>Maintenance</span></a></li>
                        <li><a href="coming-soon.html"><span>Coming Soon</span></a></li>
                        <li><a href="404.html"><span>404 Page</span></a></li>
                    </ul>
                </li>

                <li class="has-mega-menu"><a href="#"><span>Elements</span></a>
                    <ul class="object-submenu">
                        <li class="title">Element Group 01</li>
                        <li><a href="brand.html"><span>Client Logos</span></a></li>
                        <li><a href="flexible-image-slider.html"><span>Flexible
                                    image slider</span></a></li>
                        <li><a href="carousel-slider.html"><span>Carousel
                                    Sliders</span></a></li>
                        <li><a href="team.html"><span>Team Member</span></a></li>
                        <li><a href="pricing-box.html"><span>Pricing Boxes</span></a></li>
                        <li><a href="call-to-action-banner.html"><span>Call to
                                    action banners</span></a></li>
                        <li><a href="instagram.html"><span>Instagram</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Element Group 02</li>
                        <li><a href="countdown-clocks.html"><span>Countdown
                                    clocks</span></a></li>
                        <li><a href="counters.html"><span>Counters</span></a></li>
                        <li><a href="progress-charts.html"><span>Progress
                                    Charts</span></a></li>
                        <li><a href="icon-boxes.html"><span>Icon Boxes</span></a></li>
                        <li><a href="testimonial.html"><span>Testimonials</span></a></li>
                        <li><a href="dividers.html"><span>Dividers</span></a></li>
                                                        <li><a href="tabs.html"><span>Tabs</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Element Group 03</li>
                        <li><a href="contact.html"><span>Contact &amp;
                                    subscribe forms</span></a></li>
                        <li><a href="google-map.html"><span>Google Map</span></a></li>
                        <li><a href="social-network.html"><span>Social Networks</span></a></li>
                        <li><a href="gallery.html"><span>Gallery</span></a></li>
                        <li><a href="popup-video.html"><span>Popup video</span></a></li>
                        <li><a href="gradation.html"><span>Gradation</span></a></li>
                        <li><a href="rows-and-columns.html"><span>Rows &amp;
                                    Columns</span></a></li>

                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Element Group 04</li>
                        <li><a href="message-box.html"><span>Message box</span></a></li>
                        <li><a href="accordion.html"><span>Accordions &amp;
                                    Toggles</span></a></li>
                        <li><a href="buttons.html"><span>Buttons</span></a></li>
                        <li><a href="typography.html"><span>Typography</span></a></li>
                        <li><a href="typed-text.html"><span>Typed Text</span></a></li>
                        <li><a href="lists.html"><span>Lists</span></a></li>
                        <li><a href="pricing-table.html"><span>Pricing Table</span></a></li>
                    </ul>
                </li>

                <li class="has-mega-menu"><a href="#"><span>Portfolio</span></a>

                    <ul class="object-submenu">
                        <li class="title">Portfolio Samples 01</li>
                        <li><a href="portfolio-grid-boxed.html"><span>Portfolio
                                    Grid – Boxed</span></a></li>
                        <li><a href="portfolio-grid-wide.html"><span>Portfolio
                                    Grid – Wide</span></a></li>
                        <li><a href="portfolio-details-image-with-caption.html"><span>Portfolio
                                    With Caption</span></a></li>
                        <li><a href="portfolio-with-caption-video.html"><span>Portfolio
                                    With Caption – Video Popup</span></a></li>
                        <li><a href="portfolio-grid-metro-01.html"><span>Portfolio
                                    Grid Metro 01</span></a></li>
                        <li><a href="portfolio-grid-metro-02.html"><span>Portfolio
                                    Grid Metro 02</span></a></li>
                    </ul>

                    <ul class="object-submenu">
                        <li class="title">Portfolio Samples 02</li>
                        <li><a href="portfolio-grid-metro-03.html"><span>Portfolio
                                    Grid Metro 03</span></a></li>
                        <li><a href="portfolio-grid-boxed.html"><span>Portfolio
                                    Grid Masonry – Boxed</span></a></li>
                        <li><a href="porfolio-grid-masonry-nogap.html"><span>Portfolio
                                    Grid Masonry – No Gap</span></a></li>
                        <li><a href="portfolio-ajax-filter.html"><span>Portfolio
                                    Ajax Filter</span></a></li>
                        <li><a href="portfolio-static-filter.html"><span>Portfolio
                                    Static Filter</span></a></li>
                        <li><a href="portfolio-overlay.html"><span>Portfolio
                                    Overlay</span></a></li>
                    </ul>

                    <ul class="object-submenu">
                        <li class="title">Portfolio Single 01</li>
                        <li><a href="portfolio-details.html"><span>Left Details</span></a></li>
                        <li><a href="portfolio-details-right.html"><span>Right
                                    Details</span></a></li>
                        <li><a href="portfolio-details-left-wide.html"><span>Left
                                    Details – Wide</span></a></li>
                        <li><a href="portfolio-details-right-wide.html"><span>Right
                                    Details – Wide</span></a></li>
                        <li><a href="portfolio-details-image-with-caption.html"><span>Image
                                    With Caption</span></a></li>
                        <li><a href="portfolio-details-custom-layout-01.html"><span>Custom
                                    Layout 01</span></a></li>
                        <li><a href="portfolio-details-custom-layout-02.html"><span>Custom
                                    Layout 02</span></a></li>
                    </ul>

                    <ul class="object-submenu">
                        <li class="title">Portfolio Single 02</li>
                        <li><a href="portfolio-details-custom-layout-03.html"><span>Custom
                                    Layout 03</span></a></li>
                        <li><a href="portfolio-details-custom-layout-04.html"><span>Custom
                                    Layout 04</span></a></li>
                        <li><a href="portfolio-details-custom-layout-05.html"><span>Custom
                                    Layout 05</span></a></li>
                        <li><a href="portfolio-details-custom-layout-06.html"><span>Custom
                                    Layout 06</span></a></li>
                        <li><a href="portfolio-details-custom-layout-07.html"><span>Custom
                                    Layout 07</span></a></li>
                        <li><a href="portfolio-details-custom-layout-08.html"><span>Custom
                                    Layout 08</span></a></li>
                    </ul>
                </li>

                <li class="has-mega-menu"><a href="#"><span>Blog</span></a>
                    <ul class="object-submenu">
                        <li class="title">Blog Sample 01</li>
                        <li><a href="blog-creative.html"><span>Creative List</span></a></li>
                        <li><a href="blog-standard-list.html"><span>Standard
                                    List</span></a></li>
                        <li><a href="blog-grid-classic.html"><span>Grid Classic</span></a></li>
                        <li><a href="blog-grid-classic-sidebar.html"><span>Grid
                                    Classic With Sidebar</span></a></li>
                        <li><a href="blog-grid-mesonry.html"><span>Grid Masonry</span></a></li>
                        <li><a href="blog-grid-metro.html"><span>Grid Metro</span></a></li>
                        <li><a href="blog-grid-minimal.html"><span>Grid Minimal</span></a></li>
                        <li><a href="blog-grid-minimal-outline.html"><span>Grid
                                    Minimal Outline</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Blog Sample 02</li>
                        <li><a href="blog-grid-standard.html"><span>Grid
                                    Standard</span></a></li>
                        <li><a href="blog-grid-simple.html"><span>Grid Simple</span></a></li>
                        <li><a href="blog-grid-sticky.html"><span>Grid Sticky</span></a></li>
                        <li><a href="blog-grid-modern.html"><span>Grid Modern</span></a></li>
                        <li><a href="blog-overlay-image-list.html"><span>Overlay
                                    Image List</span></a></li>
                        <li><a href="blog-lazy-load.html"><span>Lazy Load</span></a></li>
                        <li><a href="blog-load-more-button.html"><span>Load
                                    More Button</span></a></li>
                        <li><a href="blog-numeric-pagination.html"><span>Numeric
                                    Pagination</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Single Blog</li>
                        <li><a href="blog-details.html"><span>Standard Post</span></a></li>
                        <li><a href="blog-details-gallery.html"><span>Gallery
                                    Post</span></a></li>
                        <li><a href="blog-details-video.html"><span>Video Post</span></a></li>
                        <li><a href="blog-details-audio.html"><span>Audio Post</span></a></li>
                        <li><a href="blog-details-quote.html"><span>Quote Post</span></a></li>
                        <li><a href="blog-details-left-sidebar.html"><span>Standard
                                    Post – Left Sidebar</span></a></li>
                    </ul>
                    <ul class="object-submenu">
                        <li class="title">Single Blog Modern</li>
                        <li><a href="blog-details-modern-layout.html"><span>Standard
                                    Post – Modern Layout</span></a></li>
                        <li><a href="blog-details-modern-layout-gallery.html"><span>Gallery
                                    Post – Modern Layout</span></a></li>
                        <li><a href="blog-details-modern-layout-video.html"><span>Video
                                    Post – Modern Layout</span></a></li>
                        <li><a href="blog-details-modern-layout-audio.html"><span>Audio
                                    Post – Modern Layout</span></a></li>
                        <li><a href="blog-details-modern-layout-quote.html"><span>Quote
                                    Post – Modern Layout</span></a></li>
                        <li><a href="blog-details-no-sidebar.html"><span>Standard
                                    Post – No Sidebar</span></a></li>
                    </ul>
                </li>

                <li class="has-mega-menu"><a href="#"><span>Shop</span></a>
                    <!-- Start Dropdown Menu -->
                    <ul class="object-submenu">
                        <li><a href="shop-minimal.html"><span>Shop Minimal</span></a></li>
                        <li><a href="shop-fullwide.html"><span>Shop Fullwide</span></a></li>
                        <li><a href="cart.html"><span>Cart</span></a></li>
                        <li><a href="compare.html"><span>Compare</span></a></li>
                        <li><a href="my-account.html"><span>My Account</span></a></li>
                        <li><a href="login-register.html"><span>Login / Register</span></a></li>
                        <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                        <li><a href="checkout.html"><span>Checkout</span></a></li>
                        <li><a href="single-product.html"><span>Single Product 01</span></a></li>
                        <li><a href="single-product2.html"><span>Single Product 02</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Popup Menu -->

<!-- Start Brook Search Popup -->
<div class="brook-search-popup">
    <div class="inner">
        <div class="search-header">
            <div class="logo">
                <a href="index.html">
                    <img src="/client/img/logo/brook-black.png" alt="logo images">
                </a>
            </div>
            <a href="#" class="search-close"></a>
        </div>
        <div class="search-content">
            <form action="#">
                <label>
                    <input type="search" placeholder="Enter search keyword…">
                </label>
                <button class="search-submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- End Brook Search Popup -->

<!-- Start Toolbar -->
<div class="demo-option-container">
    <!-- Start Toolbar -->
    <div class="brook__toolbar">
        <div class="inner">
            <a class="quick-option hint--bounce hint--left hint--black primary-color-hover-important" href="#"
                aria-label="Quick Options">
                <i class="fa fa-wrench"></i>
            </a>
            <a class="hint--bounce hint--left hint--black primary-color-hover-important" target="_blank" href="https://bootexperts.com/support/scp/login.php"
                aria-label="Support Center">
                <i class="fa fa-life-ring"></i>
            </a>
            <a class="hint--bounce hint--left hint--black primary-color-hover-important" href="#" aria-label="Documentation">
                <i class="fa fa-file-alt"></i>
            </a>
            <a class="hint--bounce hint--left hint--black primary-color-hover-important" target="_blank" href="https://themeforest.net/user/bootxperts/portfolio"
                aria-label="Purchase Brook">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
    </div>
    <!-- End Toolbar -->
    <!-- Start Quick Link -->
    <div class="demo-option-wrapper">
        <div class="demo-panel-header">
            <div class="panel-btn">
                <a class="brook-btn bk-btn-theme btn-sd-size btn-rounded space-between" href="https://themeforest.net/item/brook-creative-agency-business-html-template/24226512?s_rank=1"><i
                        class="ion-android-cart"></i> Buy Brook Now </a>
            </div>
            <div class="title">
                <h5 class="heading heading-h5"> Brook – Creative Multipurpose Html5 Template</h5>
                <div class="desc">
                    <p class="bk_pra"> Brook embraces a modern look with various enhanced shortcodes, premium
                        plugins and pre-defined page elements.</p>
                </div>
            </div>
        </div>
        <div class="demo-quick-option-list">
            <a class="link hint--bounce hint--top hint--dark" href="index-business.html" aria-label="Business">
                <img src="/client/img/demo-image/home-business.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-expert.html" aria-label="Expert">
                <img src="/client/img/demo-image/home-expert.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-revolutionary.html" aria-label="Revolutionary">
                <img src="/client/img/demo-image/home-revolutionary.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-authentic-studio.html" aria-label="Authentic Studio">
                <img src="/client/img/demo-image/home-authentic-studio.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-astronomy.html" aria-label="Astronomy">
                <img src="/client/img/demo-image/home-astronomy.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-news-bulletin.html" aria-label="News Bulletin">
                <img src="/client/img/demo-image/home-news-bulletin.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-digital-broadsheets.html" aria-label="Digital Broadsheets">
                <img src="/client/img/demo-image/home-digital-broadsheets.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-creative-agency.html" aria-label="Creative Agency">
                <img src="/client/img/demo-image/home-creative-agency.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-digital-agency.html" aria-label="Digital Agency">
                <img src="/client/img/demo-image/home-digital-agency.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-vertical-menu.html" aria-label="Vertical Menu">
                <img src="/client/img/demo-image/home-vertical-menu.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-design-studio.html" aria-label="Design Studio">
                <img src="/client/img/demo-image/home-design-studio.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-creative-portfolio.html" aria-label="Creative Portfolio">
                <img src="/client/img/demo-image/home-creative-portfolio.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-freelancer.html" aria-label="Freelancer">
                <img src="/client/img/demo-image/home-freelancer.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-vertical-slider-portfolio.html"
                aria-label="Vertical Slide Portfolio">
                <img src="/client/img/demo-image/home-vertical-slide-portfolio.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-minimal-portfolio.html" aria-label="Minimal Portfolio">
                <img src="/client/img/demo-image/home-minimal-portfolio.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-onepage.html" aria-label="Onepage">
                <img src="/client/img/demo-image/home-onepage.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-landing.html" aria-label="Landing">
                <img src="/client/img/demo-image/home-landing.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-architecture.html" aria-label="Architecture">
                <img src="/client/img/demo-image/home-architecture.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-portfolio-fullscreen-type-hover-02.html"
                aria-label="Portfolio Fullscreen Type Hover 02">
                <img src="/client/img/demo-image/home-hover-type-02.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-minimal-agency.html" aria-label="Minimal Agency">
                <img src="/client/img/demo-image/home-minimal-agency.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-start-ups.html" aria-label="Start-ups">
                <img src="/client/img/demo-image/home-start-ups.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-presentation.html" aria-label="Presentation">
                <img src="/client/img/demo-image/home-presentation.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-blog-metro.html" aria-label="Metro Blog">
                <img src="/client/img/demo-image/home-metro-blog.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-portfolio-mesonry-left-vertical-header.html"
                aria-label="Portfolio Masonry – Left Vertical Header">
                <img src="/client/img/demo-image/home-portfolio-masonry-left-vertical-header.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-masonry-gallery.html" aria-label="Masonry Gallery">
                <img src="/client/img/demo-image/home-masonry-gallery.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-home-service.html" aria-label="Service">
                <img src="/client/img/demo-image/home-service.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-minimal-metro-grid.html" aria-label="Minimal Metro Grid">
                <img src="/client/img/demo-image/home-minimal-metro-grid.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-shop.html" aria-label="Shop">
                <img src="/client/img/demo-image/home-shop.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-product-landing.html" aria-label="Product Landing">
                <img src="/client/img/demo-image/home-product-landing.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-indie-musician.html" aria-label="Indie Musician">
                <img src="/client/img/demo-image/home-indie-musician.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-foodie.html" aria-label="Foodie">
                <img src="/client/img/demo-image/home-foodie.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-vertical-slide-gradient-portfolio.html"
                aria-label="Vertical Slide Gradient Portfolio">
                <img src="/client/img/demo-image/home-vertical-slide-gradient-portfolio.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-portfolio-fullscreen-slider-left-vertical-header.html"
                aria-label="Portfolio Fullscreen Slider Left Vertical Header">
                <img src="/client/img/demo-image/home-portfolio-fullscreen-slider-left-vertical-header.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-portfolio-fullscreen-type-hover.html"
                aria-label="Portfolio Fullscreen Type Hover">
                <img src="/client/img/demo-image/home-hover-type.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-portfolio-slide.html" aria-label="Portfolio Slide">
                <img src="/client/img/demo-image/home-portfolio-slide.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-photo-slider-gallery.html" aria-label="Photo Slider Gallery">
                <img src="/client/img/demo-image/home-photo-slider-gallery.jpg" alt="Multipurpose Template"></a>

            <a class="link hint--bounce hint--top hint--dark" href="index-blog-grid.html" aria-label="Grid Blog">
                <img src="/client/img/demo-image/home-grid-blog.jpg" alt="Multipurpose Template"></a>

        </div>
    </div>
    <!-- End Quick Link -->
</div>
<!-- End Toolbar -->

<!-- Page Conttent -->
<main class="page-content">

    <!-- Start Shop Slider -->
    <div class="shop-slider-area">
        <div class="shop-slide-wrapper">

            <!-- Slide Info -->
            <div class="shop-slide-inner shop-slide-info">
                <div class="inner">
                    <h1 class="heading heading-h1 font-60 line-height-1-42">White & transparent tableware</h1>

                    <div class="shop-btn mt--45">
                        <a class="brook-btn bk-btn-theme btn-sd-size btn-rounded space-between" href="#">Shop
                            collection</a>
                    </div>
                </div>
            </div>

            <!-- Shop Thumbnail -->
            <div class="shop-slide-inner thumbnail shop-slide-bg-1">

            </div>

        </div>
    </div>
    <!-- End Shop Slider -->

    <!-- Start Boxes Area -->
    <div class="bk-info-boxes">

        <!-- Start Single Box -->
        <div class="info-grid-box space-variation has-image" style="background-image: url(/client/img/box/grid-box/grid-box-3.jpg)">
            <div class="box-content">
                <div class="box-content-inner">
                    <div class="box-info">

                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Box -->

        <!-- Start Single Box -->
        <div class="info-grid-box space-variation bg_color--21">
            <div class="box-content align-items-center h-100">
                <div class="box-content-inner">
                    <div class="box-info">
                        <h3 class="heading heading-h3">Products <br> on sale.</h3>
                        <div class="box-btn mt--35">
                            <a class="brook-btn red-color-5 btn-sd-size btn-rounded space-between" href="#">Learn
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Box -->

        <!-- Start Single Box -->
        <div class="info-grid-box space-variation has-image" style="background-image: url(/client/img/box/grid-box/grid-box-4.jpg)">
            <div class="box-content">
                <div class="box-content-inner">
                    <div class="box-info">

                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Box -->

        <!-- Start Single Box -->
        <div class="info-grid-box space-variation bg_color--21">
            <div class="box-content align-items-center h-100">
                <div class="box-content-inner">
                    <div class="box-info">
                        <h3 class="heading heading-h3">Metallic & <br> Wood Cutlery <br> series.</h3>
                        <div class="box-btn mt--35">
                            <a class="brook-btn bk-btn-theme btn-sd-size btn-rounded space-between" href="#">Learn
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Box -->

    </div>
    <!-- End Boxes Area -->

    <!-- Start Product Area -->
    <div class="brook-product-area ptb--150 ptb-md--80 ptb-sm--60 bg_color--1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brook-section-title text-center">
                        <h3 class="heading heading-h3">Latest items</h3>
                    </div>
                </div>
            </div>
            <div class="row mt--30">
   
    <!-- Start Single Product -->
    <% products.forEach((product) => { %>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
           
        <div class="product mt--30">
            <div class="product-thumbnail">
                        <div class="thumbnail">
                            <div class="product-main-image">
                                <img src="<%= product.images[0].URL %>" alt="Multipurpose">
                            </div>
                            <div class="product-hover-image">
                                <img src="<%= product.images[1].URL %>" alt="Multipurpose">
                            </div>
                            <div class="product-badges">
                                <div class="onsale">-7%</div>
                            </div>
                        </div>
                <div class="product-action">
                    <ul class="action-list text-center tooltip-layout">
                        <li class="single-action addto-cart"><a href="cart.html" class="link hint--bounce hint--top hint--dark"
                                aria-label="Add to Cart"><i class="fas fa-shopping-bag"></i></a></li>

                        <li class="single-action wishlist"><a href="wishlist.html" class="link hint--bounce hint--top hint--dark"
                                aria-label="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                    </ul>
                </div>
            </div>
          
            <div class="product-info">
                <h5 class="heading heading-h5"><a href="/shop/<%= product.SLUG %>"><%= product.Name %></a></h5>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                </ul>
                <div class="price"><span>$<%= product.Price %></span> <span class="new-price">$58.00</span></div>
         
            </div>
        </div>
    </div>
    <% }); %>
    <!-- End Single Product -->


               

            </div>
        </div>
    </div>
    <!-- End Product Area -->

    <!-- Start Contact Form  -->
    <div class="brook-contact-form-area">
        <div class="container">
            <div class="row row--0">
                <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                    <div class="contact-form bg_color--1 contact-form--2 bg_color--21">
                        <h4 class="heading heading-h4">Newsletter sign-up</h4>
                        <form action="#">
                            <div class="row">

                                <div class="col-lg-12">
                                    <input type="text" placeholder="Your name">
                                </div>

                                <div class="col-lg-12 mt--30">
                                    <input type="email" placeholder="Your e-mail">
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-desc"> Sign up to our newsletter for regular updates and
                                        more.</div>
                                </div>
                                <div class="col-lg-12 mt--25">
                                    <input type="text" placeholder="Subscribe">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                    <div class="thumbnail">
                        <img class="w-100" src="/client/img/about/home-shop-image-02.jpg" alt="Multipurpose">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Form  -->

    <!-- Start Instagram Area -->
    <div class="brook-instagram-area ptb--100 ptb-md--80 ptb-sm--60 bg_color--1 basic-thine-line">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brook-section-title text-center mb--50">
                        <h3 class="heading heading-h3">Follow us on Instagram</h3>
                        <div class="bkseparator--20"></div>
                        <p class="bk_pra">@brookinstagram</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bk-intagram-list instagram-grid">

            <div class="instagram-grid-wrap instagram-grid-5 pl--30 pr--30 move-up wow">

                <!-- Start Single Instagram -->
                <div class="item-grid grid-style--1">
                    <div class="thumb">
                        <a href="#">
                            <img src="/client/img/instagram/instagram-1/instagram-md-1.jpg" alt="instagram images">
                        </a>
                        <div class="item-info">
                            <div class="inner">
                                <a href="#"><i class="fas fa-heart"></i>1k</a>
                                <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Instagram -->

                <!-- Start Single Instagram -->
                <div class="item-grid grid-style--1">
                    <div class="thumb">
                        <a href="#">
                            <img src="/client/img/instagram/instagram-1/instagram-md-2.jpg" alt="instagram images">
                        </a>
                        <div class="item-info">
                            <div class="inner">
                                <a href="#"><i class="fas fa-heart"></i>4k</a>
                                <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Instagram -->

                <!-- Start Single Instagram -->
                <div class="item-grid grid-style--1">
                    <div class="thumb">
                        <a href="#">
                            <img src="/client/img/instagram/instagram-1/instagram-md-3.jpg" alt="instagram images">
                        </a>
                        <div class="item-info">
                            <div class="inner">
                                <a href="#"><i class="fas fa-heart"></i>1k</a>
                                <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Instagram -->

                <!-- Start Single Instagram -->
                <div class="item-grid grid-style--1">
                    <div class="thumb">
                        <a href="#">
                            <img src="/client/img/instagram/instagram-1/instagram-md-4.jpg" alt="instagram images">
                        </a>
                        <div class="item-info">
                            <div class="inner">
                                <a href="#"><i class="fas fa-heart"></i>1k</a>
                                <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Instagram -->

                <!-- Start Single Instagram -->
                <div class="item-grid grid-style--1">
                    <div class="thumb">
                        <a href="#">
                            <img src="/client/img/instagram/instagram-1/instagram-md-5.jpg" alt="instagram images">
                        </a>
                        <div class="item-info">
                            <div class="inner">
                                <a href="#"><i class="fas fa-heart"></i>1k</a>
                                <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Instagram -->

                <!-- Start Single Instagram -->
                <div class="item-grid grid-style--1">
                    <div class="thumb">
                        <a href="#">
                            <img src="/client/img/instagram/instagram-1/instagram-md-6.jpg" alt="instagram images">
                        </a>
                        <div class="item-info">
                            <div class="inner">
                                <a href="#"><i class="fas fa-heart"></i>1k</a>
                                <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Instagram -->

            </div>
        </div>
    </div>
    <!-- End Instagram Area -->
</main>
<!--// Page Conttent -->