<% layout('../../../layouts/admin/app') -%>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                   <form action="">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="q" class="form-control float-right" placeholder="Search">
        
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                   </form>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Created_At</th>
                        <th style="text-align:center">Actives</th>
                    </tr>
                    <% users.forEach((user, index) => { %>
                        <tr data-id="<%= user.id %>">
                            <td><%= index + 1 %></td>
                            <td><%= user.fullname %></td>
                            <td><%= user.email %></td>
                            <td><%= moment(user.created_at).format('DD/MM/YY') %></td>
                            <td style="display: flex; justify-content:space-around">
                                <form action="" method="get">
                                    <button type="button" class="btn btn-outline-primary">Show</button>
                                </form>
                                <button data-toggle="modal" data-target="#exampleModalCenter" type="button" class="btn btn-outline-secondary user-id ">Edit</button>
                                <button type="submit" class="btn btn-outline-warning user-delete">Delete</button>
                                <button type="submit" class="btn btn-outline-dark user-admin">Upgrade Admin</button>
                            </td>
                        </tr>
                    <% })  %>
                </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div style="text-align: center" class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">UPDATE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="card">
                        <div class="card-body register-card-body">
                          <p class="login-box-msg">Update the new information</p>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full name">
                              <div class="input-group-append input-group-text">
                                  <span class="fas fa-user"></span>
                              </div>
                            </div>
                            <div class="input-group mb-3">
                              <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                              <div class="input-group-append input-group-text">
                                  <span class="fas fa-envelope"></span>
                              </div>
                            </div>
                        </div>
                        <!-- /.form-box -->
                      </div><!-- /.card -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary user-edit">Save changes</button>
        </div>
        </div>
    </div>
</div>