<!DOCTYPE html>
<html>

<!-- head -->
<%-include partials/head %>

<body class="hold-transition sidebar-mini">

<div class="wrapper">
<!-- body -->
<%-body -%>

</div>
<!-- ./wrapper -->

<!-- script -->
<%-include partials/script %>

</body>

</html>
