<!DOCTYPE html>
<html>

<!-- head -->
<%-include partials/head %>

<body class="template-color-13 template-font-1 ">
<%- include partials/page-preload %>
<div id="wrapper" class="wrapper">
<!-- body -->
<%-body -%>

</div>

<%- include partials/footer %>
<!-- script -->
<%-include partials/script %>

</body>

</html>
