<!DOCTYPE html>
<html>

<!-- head -->
<%-include partials/head %>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- navbar -->
        <%-include partials/navbar %>

        <!-- body -->
        <%-body -%>

        <!-- footer -->
        <%-include partials/footer %>

    </div>
    <!-- ./wrapper -->

    <!-- script -->
    <%-include partials/script %>

</body>

</html>
